{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Django Container</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <style>
body {
  background-color: rgb(201, 161, 131);
}
img {
  width:100%;
}
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container my-5">
        <img src="{% static 'ruins_of_the_parthenon.jpeg' %}">
      </div>
    </main>
    <footer class="footer mt-auto py-3 border-top border-black">
      <div class="container">
        <span><a class="text-reset text-decoration-none" href="https://github.com/aodin/django-container/">github.com/aodin/django-container</a></span>
      </div>
    </footer>
  </body>
</html>
